Flask==2.2.5
Werkzeug==2.2.3
Flask-SQLAlchemy==3.0.3
psycopg2-binary==2.9.6
gunicorn==20.1.0

# --- BỘ AI (TensorFlow & OpenCV) ---
tensorflow-cpu==2.13.0
keras==2.13.1
numpy==1.24.3
opencv-python-headless==4.8.0.74
fer==22.5.1
Pillow==9.5.0
moviepy==1.0.3
imageio==2.31.1
decorator==4.4.2

# --- BỘ GÂY LỖI (Đã bị khóa xích) ---
# Ép bọn này dùng bản cũ để hợp với TensorFlow
typing-extensions==4.5.0
SQLAlchemy==2.0.16
grpcio==1.54.2
torch==2.0.1
torchvision==0.15.2
facenet-pytorch==2.5.3
